body {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.genre-slider {
  margin-bottom: 20px;
}

.genre-slider h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 50px;
}

.movies-row {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  padding-top: 20px;
  padding-bottom: 20px;


  padding-left: 50px;
  padding-right: 50px;
}

.movies-row::-webkit-scrollbar {
  display: none;
}

.movie-card {
  border: 4px solid transparent;
  margin: 0 5px; 
  transition: transform 0.2s;
  flex-shrink: 0;
  width: calc(16.66% - 18px);
  position: relative;
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.movie-card.active {
  border: 4px solid red;
  transform: scale(1.05);
  z-index: 10;
}

.movie-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

.movie-card p {
  text-align: left;
  font-size: 1rem;
  margin: 5px 0 0 0;
  padding: 0 5px;
  visibility: hidden;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
}

.movie-card.active p {
  visibility: visible;
}